@model HealthSolutions_MVC.Models.Pagamento

@{
    ViewData["Title"] = "Pagamento";
}

<h1>Detalhes</h1>

<div>
    <h4>Pagamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consulta.NomeConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaPagamento.NomeFormaPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObsPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObsPagamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PagamentoId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
</div>
