@model IEnumerable<HealthSolutions_MVC.Models.Pagamento>

@{
    ViewData["Title"] = "Pagamento";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObsPagamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Consulta.NomeConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento.NomeFormaPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObsPagamento)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PagamentoId" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.PagamentoId" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.PagamentoId" class="btn btn-secundary"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
