@model IEnumerable<HealthSolutions_MVC.Models.Pagamento>

@{
    ViewData["Title"] = "Pagamento";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObsPagamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Consulta.ConsultaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento.FormaPagamentoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObsPagamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PagamentoId">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.PagamentoId">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.PagamentoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
