@model HealthSolutions_MVC.Models.Usuario

@{
    ViewData["Title"] = "Usuário";
}

<h1>Detalhes</h1>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioSenha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsuarioId" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
</div>
