@model IEnumerable<HealthSolutions_MVC.Models.Usuario>

@{
    ViewData["Title"] = "Usuário";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FotoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioTelefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <img src="@item.FotoUsuario" style="height:110px;widht:116px;border-radius:4px;object-fit:cover;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioTelefone)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.UsuarioId" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.UsuarioId" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.UsuarioId" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
