@model IEnumerable<HealthSolutions_MVC.Models.Consulta>

@{
    ViewData["Title"] = "Consulta";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObsConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profissional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConsulta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.PacienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObsConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profissional.ProfissionalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsulta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConsultaId">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.ConsultaId">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.ConsultaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
