@model HealthSolutions_MVC.Models.Profissional

@{
    ViewData["Title"] = "Profissional";
}

<h1>Detalhes</h1>

<div>
    <h4>Profissional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProfissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProfissional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimentoProfissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimentoProfissional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSexo.TipoSexoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfProfissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfProfissional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoProfissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoProfissional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProfissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProfissional.TipoProfissionalId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProfissionalId">Editar</a> 
    <a asp-action="Index">Voltar à Lista</a>
</div>
