@model HealthSolutions_MVC.Models.Paciente

@{
    ViewData["Title"] = "Paciente";
}

<h1>Detalhes</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimentoPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimentoPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSexo.NomeTipoSexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonePaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonePaciente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PacienteId">Editar</a> 
    <a asp-action="Index">Voltar à Lista</a>
</div>
