@model IEnumerable<HealthSolutions_MVC.Models.Paciente>

@{
    ViewData["Title"] = "Paciente";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimentoPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonePaciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimentoPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSexo.NomeTipoSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonePaciente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PacienteId">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.PacienteId">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.PacienteId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
